@page "{slug}"
@model MyFreelance.Web.Pages.Cms.CmsPageModel

<div class="container py-5 mt-5">
    <h1 class="text-gold mb-4">@Model.PageContent!.Title</h1>
    <div class="aurum-card">@Html.Raw(Model.PageContent.Content)</div>
</div>
